table,tr,th,td{
    border: 2px solid rgb(20, 18, 18);
}

h1 {
    
    text-align: center;
    color: rgb(148, 52, 65);
    font-family: 'Fuggles', cursive;
font-family: 'Otomanopee One', sans-serif;
    
}



body{

    background-color: rgb(175, 155, 155);
}


.table{
    float:right ;
    position: relative;
    height: 150px;
    margin-top: -240px;
    width: 180px;
    color: red;
    
}
*{
    box-sizing:border-box;
}
img{
   
   width: 200px;
   height: 200px;
}
section{
    background-color: rgb(233, 220, 220);
    display: inline-block;
    padding: 20px;
}
body{
    background-color: rgb(133, 94, 45);
}
h1{
    background-color: rgb(221, 200, 185);
    text-align: center;
    color: black;
}
#intro{
    /* display: inline-block; */
    float: left;
    width: 50%;
    height: 100px;

}
#staff{
    display: inline-block;
    float: right;
    width: 50%;

}
#section{
    display: inline-block;
    /* width: 15%; */
    margin-top: 50px;

}
#img{
    float:right;
    width: 50%;
    box-sizing: border-box;
    padding-right: 10%;
    padding-top: 2%;
}
#p{
    display: inline-block;
    width: 50%;
    height: 200px;
    padding-left: 10%;
    color: rgb(14, 6, 6);
    font-family: 'Zen Tokyo Zoo', cursive;
    padding-top: 2%;
}
ul li{
    display: inline-block;
    padding-left: 13%;
    
    text-align: center;
}
ul{
    background-color: rgb(138, 78, 128);

}
td{
    color: rgb(40, 1, 47);
    font-family: 'Qahiri', sans-serif;
    
    
}
th{
    font-family: 'Bebas Neue', cursive;
    color: rgb(0, 16, 104);
    
}
section h2{
    font-family: 'Tourney', cursive;
}
#form{
    padding-top: 50px;
    padding: 2%;
    
}
#parent{
    padding-left: 25%;
    
    
}
#prodects li{
    display: block;
    color: rgb(129, 4, 4);
    box-sizing: border-box;
    font-size: 30px;
    padding-top: 2%;
    padding-left: 250px;
    font-style: italic;
    

}
#prodects{
    background-color: rgb(170, 179, 120);
    padding-left: 250px;
}
h4{
    font-size: larger;
    text-align: center;
    
}