table,tr,th,td{
    border: 2px solid rgb(20, 18, 18);
}

/* * {
    font-family: 'Open Sans', sans-serif;
} */
/* img{
    height: 50px;
} */

/* body{

body{

    background-color: rgba(217, 232, 235, 0.383);
}
form{
    background-color: rgb(194, 131, 189);
}
fieldset img{
    float: right;
    position: relative;
    height: 200px;
   margin-top: -150px;

}
.table{
    float:right ;
    position: relative;
    height: 150px;
    margin-top: -240px;
    width: 180px;
    
}
#under{
    height: 100px;
    width: 380px;

}
section img {
    height: 200px;
    width: 250px;



}
*/